# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\001-git\deksurvey-admin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
